<main role="main">
  {% comment %} This template will be populated by sections {% endcomment %}
  <div class="main-content-wrapper">
    {% section 'hero' %}
    {% section 'featured-products' %}
    {% comment %} Add more sections here as needed {% endcomment %}
  </div>
</main>

{% schema %}
{
  "name": "Main content"
}
{% endschema %}